#checkout {
    .container {
        @include split-view(2, 32px);

        width: 732px;
        margin: 0 auto;
        left: 0;
        padding: 0;

        #checkout-receipt {
            @include split-view(2, 16px);
        }

        .split-column {
            label {
                font-size: $size-xsmall;
                display: block;

                input, textarea, select {
                    margin-top: 8px;
                }
            }

            input, textarea, select, .subscript {
                margin-bottom: 16px;
                display: block;
                width: 100%;
                max-width: 100%;

                &[type='submit'] {
                    margin-top: 8px;
                }
            }

            input + .subscript {
                margin-top: -8px;
            }

            .radio-container {
                label {
                    &.radio-item {
                        @extend %base-input;
                        height: auto;

                        display: inline-block;
                        vertical-align: middle;
                        box-sizing: border-box;
                        padding-right: 8px;
                        margin-bottom: 13px;
                        margin-top: 13px;

                        input {
                            margin: 0;
                            margin-right: 8px;
                            display: inline-block;
                        }

                        &:last-child {
                            float: right;
                        }
                    }
                }

                input[type='radio'] {
                    width: auto;
                    display: inline-block;
                }
            }

            #orderedfood-list {
                background: white;
                border-radius: $border-radius;
                border: 1px solid $grey-light;
            }
        }
    }
}
