#store-banner {
    background-image: url('../banners/store/edited.jpg');
    position: fixed;
    top: 0;
}

#store-info {
    position: relative;
    padding-bottom: 16px;
    background: transparent;

    h1 {
        margin-bottom: 16px;
    }

    li {
        display: inline;
        margin-right: 16px;

        &.openingperiods, &.deliveryperiods {
            background-repeat: no-repeat;
            background-size: 16px;
            background-position: 0 center;
            padding-left: 24px;
        }

        &.openingperiods {
            background-image: url('../icons/clock.png');
        }

        &.deliveryperiods {
            background-image: url('../icons/truck.png');
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

#inventory {
    padding: 0 16px;
    height: auto;
    position: relative;

    .container {
        padding: 0;
        position: relative;
        overflow: hidden;
        padding-bottom: 192px;

        > div {
            padding: 16px 0;
        }

        #menus {
            float: left;
            width: 67%;

            #menu-search {
                width: 365px;
                box-sizing: border-box;
                transition: .25s ease all;

                &:focus {
                    border-color: transparentize($red, 0.75);
                }
            }

            .menu {
                font-size: 0;
                margin-top: 24px;

                .food {
                    $item-width: 365px;
                    $item-padding: 16px;

                    background: white;
                    border-radius: 2px;
                    padding: $item-padding;
                    display: inline-block;
                    width: $item-width;
                    height: 140px;
                    position: relative;
                    margin: 0 16px 16px 0;
                    overflow: hidden;
                    box-sizing: border-box;
                    border: 1px solid $grey-light;
                    vertical-align: top;

                    .food-top {
                        .food-text {
                            h4 {
                                margin: 0;
                                margin-bottom: 7px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }

                            p {
                                color: $grey-dark;
                                font-size: $size-small;
                                line-height: 1.5em;
                                padding: .5em 0 0 0;
                                float: left;

                                $lines-to-show: 3;

                                // Start
                                display: block; /* Fallback for non-webkit */
                                display: -webkit-box;
                                max-width: 365px - 32px - 80px - 16px;
                                height: $size-small * 1.5 * $lines-to-show; /* Fallback for non-webkit */
                                -webkit-line-clamp: $lines-to-show;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }

                        .food-add {
                            position: absolute;
                            bottom: 16px;
                            right: 16px;
                        }

                        .food-form {
                            display: none;
                        }

                        &:after {
                            content: '';
                            display: block;
                            clear: both;
                        }
                    }

                    .ingredientgroups {
                        display: none;
                    }

                    &.expanded {
                        height: auto;
                        width: $item-width * 2 + $item-padding;

                        .food-top {
                            .food-add {
                                display: none;
                            }

                            .food-form {
                                float: right;
                                direction: ltr;
                                border-spacing: 8px 0;
                                display: block;

                                .food-amount, .food-confirm {
                                    margin-right: 8px;
                                }

                                .food-amount {
                                    text-align: left;
                                    margin-top: -5px;
                                    padding-left: 0;
                                    width: 224px;
                                }
                            }
                        }

                        .ingredientgroups {
                            -webkit-user-select: none; /* Chrome all / Safari all */
                            -moz-user-select: none; /* Firefox all */
                            -ms-user-select: none; /* IE 10+ */
                            user-select: none; /* Likely future */
                            cursor: default;
                            display: block;

                            .ingredientgroup {
                                .ingredients {
                                    .ingredient {
                                        margin: 4px 0;

                                        &.hidden {
                                            display: none;

                                            + .ingredientgroup-more {
                                                display: inline-block;
                                            }
                                        }
                                    }

                                    .ingredientgroup-more {
                                        display: none;
                                        margin: 8px 0 16px 0;
                                        color: $red;
                                        text-decoration: underline;
                                        font-size: $checkbox-label-font-size;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        #order-container {
            padding: 0;
            margin-left: 67%;
            width: 33%;
            background: white;
            position: absolute;
            box-sizing: border-box;
            float: right;
            height: 100%;
            overflow: hidden;
            border-left: 1px solid $grey-light;
            border-right: 1px solid $grey-light;

            #order {
                padding: 16px 0;
                position: relative;
                height: 100%;
                overflow: hidden;

                &.sticky {
                    position: fixed;
                    top: 0;
                }

                #order-submit {
                    padding: 0 16px;

                    input[type='submit'] {
                        width: 100%;
                    }
                }
            }
        }
    }

    & + #footer {
        &:before {
            height: 0;
        }
    }

    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

#orderedfood-list {
    margin-top: 16px;

    .orderedfood-empty {
        text-align: center;
        font-size: $size-small;
        color: $grey-dark;
        display: none;
    }

    &.empty {
        .orderedfood-empty {
            display: block;
        }

        .orderedfood, .order-total {
            display: none;
        }
    }

    .orderedfood {
        &.deletable:hover {
            .orderedfood-cost {
                cursor: pointer;
                color: transparent;
                background: url('../icons/close.png');
                background-repeat: no-repeat;
                background-size: 14px;
                background-position: center;
            }
        }
    }

    .orderedfood, .order-total {
        $item-padding: 16px;
        $cost-amount-width: 48px;

        height: 64px;
        display: table;
        width: 100%;

        > div {
            display: table-cell;
            height: 64px;
        }

        .orderedfood-amount, .orderedfood-cost-wrapper {
            width: $cost-amount-width;
            text-align: center;
            vertical-align: middle;
        }

        .orderedfood-amount {
            color: $red;
            font-size: $size-small;
            font-weight: $weight-medium;
            padding: 0 ($item-padding / 2);
        }

        .orderedfood-text {
            vertical-align: middle;

            .orderedfood-name {
                font-weight: $weight-medium;
                font-size: $size-small;
            }

            .orderedfood-description {
                margin-top: 4px;
                color: $grey-dark;
                font-size: $size-xsmall;
            }
        }

        .orderedfood-cost-wrapper {
            font-size: $size-xsmall;
            color: $grey-dark;
            text-align: right;
            padding-right: $item-padding * 1.5;
            white-space: nowrap;
        }

        .orderedfood-data {
            display: none;
        }

        .order-total-text {
            @extend .orderedfood-text;

            padding-left: $cost-amount-width + $item-padding;
            font-weight: $weight-medium;
            font-size: $size-small;
        }

        .order-total-cost {
            @extend .orderedfood-cost-wrapper;
        }
    }
}
