.block {
    width: 100%;
    background: $grey-white;

    &.white {
        background: white;
    }

    .center {
        text-align: center;
    }

    &.fullsize {
        width: 100%;
        height: 100%;
        position: absolute;

        // header height + (top and bottom header padding) + header bottom border + extra padding
        padding-top: $header-height + 2 * $container-padding + 1 + 32;
        box-sizing: border-box;

        .title-split {
            width: 100%;
            display: table;

            h1 {
                display: inline-block;
            }

            div {
                display: table-cell;
                text-align: right;
                padding: 0;
            }
        }
    }
}
