.block {
    width: 100%;
    background: $grey-white;
    box-sizing: border-box;

    &.white {
        background: white;

        & + footer:before {
            background: white;
        }
    }

    &.fullsize {
        width: 100%;
        height: 100%;
        position: absolute;
        padding-top: $header-height-total;
        box-sizing: border-box;

        .title-split {
            width: 100%;
            display: table;

            h1 {
                display: inline-block;
            }

            div {
                display: table-cell;
                text-align: right;
                padding: 0;
            }
        }
    }

    & + footer:before {
        content: '';
        display: block;
        height: 192px;
        background: $grey-white;
    }
        text-align: center;

    &.center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        display: inline-block;
        text-align: left;

        &.center {
            text-align: center;
        }
    }
}
