.search-box {
    position: relative;
        width: 540px;
        margin: 0 auto;

    .search-box-input {
        font-size: 0;

        input {
            margin-top: 16px;

            &[type='text'] {
                width: 450px;
                border-radius: 2px 0 0 2px;
            }

            &[type='submit'] {
                border-radius: 0 2px 2px 0;
            }
        }

        &.active {
            input {
                border-radius: 0;
            }
        }

        p {
            padding: 16px 0 0 0;
        }
    }

    .search-box-autocomplete {
        @extend input:not(.mdl-textfield__input)[type='text'];

        display: none;
        position: absolute;
        width: 100%;
        height: auto;
        background: white;
        padding: 0;
        border-radius: 0 0 2px 2px;
        border-top: none;
        z-index: 1;

        li {
            padding: 8px 8px 8px 40px;
            text-align: left;
            color: $grey-dark;

            &:hover, &.selected {
                background: $grey-white;
                cursor: pointer;
            }
        }
    }
}
