.tab-container {
    background: white;
    position: relative;
    border-bottom: 1px solid $grey-light;

    &.sticky {
        position: fixed;
        top: $header-height + (2 * $container-padding);
        width: 100%;
        z-index: 1;
    }

    .container {
        padding: 0 16px;
    }

    ul {
        // Remove space between items
        font-size: 0;

        li {
            display: inline-block;
            color: $red;
            padding: 20px 20px 17px 20px;
            font-size: $size-small;
            font-weight: $weight-medium;
            margin-right: 16px;
            border-bottom: 3px solid transparent;

            &:last-child {
                margin-right: 0;
            }

            &.selected, &:hover {
                cursor: pointer;
                border-bottom: 3px solid $red;
            }
        }
    }
}
