-r requirements.in

-e git://github.com/spulec/freezegun.git@88f69903b3ac66b3894be00ef89d597e34f88f5e#egg=freezegun

django-extensions==1.7.5
django-livereload-server==0.2.1
django-queryinspect==0.1.0
Fabric3==1.12.0.post1
flake8==3.0.3
ipython==5.1.0
mock==1.3.0
pip-tools==1.7.0
pygraphviz==1.3.1
tox==2.1.1
