$font: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$menu-height: 70px;
$table-padding: 75px;

// Default font size
$font-size-default: 16px;
$font-size-table: 20px;
$font-size-title: 24px;

$color-gray: #C9C9C9;
$color-dark-gray: #424242;
$color-red: #FF3030;
$color-hover-red: #EE2C2C;

$color-text-title: #464646;
$color-text: #565656;
$color-text-gray: #969696;

$color-line-gray: #E8E8E8;
$color-background-gray: #F7F7F7;
$color-white-gray: #FAFAFA;