[submodule "lunchbreak/frontend/mdl"]
	path = lunchbreak/frontend/mdl
	url = git@github.com:google/material-design-lite
[submodule "lunchbreak/frontend/intl-tel-input"]
	path = lunchbreak/frontend/intl-tel-input
	url = git@github.com:jackocnr/intl-tel-input.git
