argh==0.26.1
bcrypt==1.1.0
cffi==0.9.0
Django==1.8.6
django-dirtyfields==0.7
django-phonenumber-field==0.7.2
django-split-settings==0.1.2
djangorestframework==3.2.4
djangorestframework-jsonp==1.0.0
ecdsa==0.13
Fabric==1.10.2
MySQL-python==1.2.5
opbeat==3.0.4
paramiko==1.15.2
pathtools==0.1.2
phonenumbers==7.0.7
pycparser==2.14
pycrypto==2.6.1
PyYAML==3.11
requests==2.7.0
six==1.9.0
watchdog==0.8.3
-e git+git://github.com/AndreasBackx/django-push-notifications.git@27f44dae5af8b0ee2726281f5b654882fd2888a8#egg=django-push-notifications
django-appconf==1.0.1
django-imagekit==3.2.7
pilkit==1.1.13
pillow==2.9.0
-e git+git://github.com/RacingTadpole/django-private-media.git@7510f2f63ddf0653679b4134a0542cd78317a5c8#egg=django-private-media
gocardless_pro==0.1.2
