{% extends 'base.html' %} {% block css %}
<link type="text/css" rel="stylesheet" href="{% sass_src 'new/main.scss' %}">
<link type="text/css" rel="stylesheet" href="{% sass_src 'new/print.scss' %}" media="print"> {% endblock css %} {% block head %}
<link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet"> {% endblock head %} {% block content %}
<nav id="menu">
    <a href="{{ url('frontend:terms') }}" class="logo">Lunchbreak</a>
    <div class="items">
        <div class="hidden">
            <a href="#overeenkomst">Overeenkomst</a>
            <a href="#bestelling-plaatsen">Bestelling plaatsen</a>
        </div>
        <div class="visible">
            <a href="#overeenkomst">Overeenkomst</a>
            <a href="#bestelling-plaatsen">Bestelling plaatsen</a>
        </div>
    </div>
</nav>
<main>
    {% if group_form.group_order %}
    <section>
        <div class="bundle table groups">
            <header>
                <div class="split popup container">
                    <div class="max column">
                        {{ group_form.day }}
                        <p>Dit is het betaaloverzicht van de groep {{ group.name }}.</p>
                    </div>
                    <div class="bottom column">
                        <a href="javascript:window.print()" class="red button">Afdrukken</a>
                    </div>
                </div>
            </header>
            {% set group_order = group_form.group_order %} {% if group_order %}
            <table>
                <thead>
                    <tr>
                        <th>Naam</th>
                        <th class="hide-on-small">Product</th>
                        <th class="hide-on-small">Prijs</th>
                        <th>Totaal</th>
                    </tr>
                </thead>
                {% set orders = group_order.confirmed_orders.prefetch_related(
                    'orderedfood__original',
                ).order_by('user__name')
                %}
                {# Index at which a new user starts #}
                {% set global = {'new_user_index': 0, 'total': 0} %}
                {% set total = {'value': 0} %}
                {% for order in orders %}
                    {% do global.update({'total': order.total}) %}
                    {% set same_user = loop.index0 < global.new_user_index %}

                    {% if not same_user %}
                        {% for i in range(loop.index, loop.length) %}
                            {% set next_order = orders[i] %}
                            {% if next_order.user_id != order.user_id %}
                                {% break %}
                            {% endif %}
                            {% do global.update({'new_user_index': i + 1}) %}
                            {% do global.update({'total': global['total'] + next_order.total}) %}
                        {% endfor %}
                    {% endif %}
                    {% set same_user_next = loop.index0 + 1 < global.new_user_index %}

                    {% if not same_user %}
                    <tbody>
                    {% endif %}
                        {% set parent_loop = loop %}
                        {% for orderedfood in order.orderedfood.all() %}
                            {% if loop.first %}
                            <tr>
                                <td>
                                    {% if not same_user %}
                                    <h2>{{ order.user.name }}</h2>
                                    <p>{{ order.user.phone.phone }}</p>
                                    {% endif %}
                                </td>
                            {% else %}
                            <tr class="hide-on-small">
                                <td></td>
                            {% endif %}
                                <td class="hide-on-small">
                                    <h3>{{ orderedfood.original.name }} ({{ orderedfood.amount | amount(orderedfood.original.foodtype.inputtype) }})</h3>
                                    <p>{{ orderedfood.changes }}</p>
                                </td>
                                <td class="hide-on-small">{{ orderedfood.discounted_total | money }}</td>
                            {% if loop.first %}
                                <td>
                                    {% if not same_user %}
                                    <h3>{{ global.total | money }}</h3>
                                    <p>{% if order.payment_gocardless or order.payment_payconiq %}Online betaald{% else %}Te betalen{% endif %}</p>
                                    {% endif %}
                                </td>
                                {% else %}
                                <td></td>
                            {% endif %}
                            </tr>
                        {% endfor %}
                    {% if not same_user_next %}
                    </tbody>
                    {% endif %}
                {% endfor %}
                <tfoot>
                    <tr>
                        <td class="hide-on-small"></td>
                        <td class="hide-on-small"></td>
                        <td>Totaal</td>
                        <td>{{ group_order.total_no_discount | money }}</td>
                    </tr>
                    <tr>
                        <td class="hide-on-small"></td>
                        <td class="hide-on-small"></td>
                        <td>Korting ({{ group.discount | percentage }})</td>
                        <td>{{ -group_order.discounted_amount | money }}</td>
                    </tr>
                    {% if group_order.paid_total > 0 %}
                    <tr>
                        <td class="hide-on-small"></td>
                        <td class="hide-on-small"></td>
                        <td>Online betaald</td>
                        <td>{{ group_order.paid_total | money }}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td class="hide-on-small"></td>
                        <td class="hide-on-small"></td>
                        <td>Te betalen</td>
                        <td>{{ (group_order.total - group_order.paid_total) | money }}</td>
                    </tr>
                </tfoot>
            </table>
            {% endif %}
        </div>
    </section>
    {% else %}
    <section>
        <article class="text bundle">
            <h1>Er zijn nog geen bestellingen geplaatst</h1>
            <p>
                Er zijn nog geen bestellingen geplaatst. Zodra er een bestelling geplaatst is, worden deze hier getoond.
            </p>
            <footer>
                <a class="red button" href="#bestelling-plaatsen">Bestelling plaatsen</a>
            </footer>
        </article>
    </section>
    {% endif %}
    <section id="overeenkomst" class="noprint">
        <article class="text bundle">
            <h1>Overeenkomst met {{ group.store.name }}</h1>
            <ul>
                <li>
                    Bestellen moet voor {{ group.deadline | time('H:i') }}.
                </li>
                <li>
                {% if group.delivery -%}
                Leveren gebeurt om {{ group.receipt_time | time('H:i') }}*.
                {%- else -%}
                Ophalen kan vanaf {{ group.receipt_time | time('H:i') }}*.
                {%- endif %}
                </li>
                {% if group.discount > 0 %}
                <li>
                    {{ group.discount | percentage }} korting op alle bestellingen
                </li>
                {% endif %}
            </ul>
            <p>
                * Afhankelijk van een eventuele mondelinge overeenkomst met de winkel.
            </p>
            <p>
                Aanpassingen moeten worden aangevraagd bij {{ group.store.name }}.
            </p>
        </article>
    </section>
    {% include 'includes/how-to-order.html' %}
</main>
<footer id="footer">
    <div class="bundle">
        <a href="{{ url('frontend:terms') }}">Voorwaarden</a>
        <a href="mailto:hi@lunchbreakapp.be">Contact</a>
    </div>
</footer>
<script type="text/javascript" src="{{ static('new/scroll-to-id.js')}}"></script>
{% endblock content %}
