{% extends 'base.html' %}

{% block content %}

{% set info_id = 'more-info' %}

{% macro render_advantage(item) %}
 <div class="advantage">
    <div class="image">
        <img src="{{ static(item.image) }}" {{ snippets.srcset(item.image, 3) }} alt="List"/>
    </div>
    <div class="content">
        <div>
            <h3>{{ item.title }}</h3>
            <p>{{ item.description }}</p>
        </div>
    </div>
</div>
{% endmacro %}

<div class="gray box" id="{{ info_id }}">
    <h2 class="center">{{ advantages.title }}</h2>
    <div class="split nopadding bundle">
        <div class="first combo">
            {% for item in advantages['items'] -%}
                {% if loop.index is even %}
                    {{ render_advantage(item) }}
                {% endif %}
            {%- endfor %}
        </div>
        <div class="second combo">
            {% for item in advantages['items'] -%}
                {% if loop.index is odd %}
                    {{ render_advantage(item) }}
                {% endif %}
            {%- endfor %}
        </div>
    </div>
</div>

{% macro ipad_slide(item) -%}
    <img src="{{ static(item.image.without) }}" {{ snippets.srcset(item.image.without, 2)}} alt="{{ item.alt }}" data-photoswipe-src="{{ item.image.with }}" data-photoswipe-width="{{ ipad.width }}" data-photoswipe-height="{{ ipad.height }}" />
{%- endmacro %}

{% macro ipad_slideshow(slideshow) -%}
    <div class="text bundle">
        <h2 class="center">{{ slideshow.title }}</h2>
        <p>{{ slideshow.description }}</p>
    </div>
    <div class="hideipad">
        <div class="bundle center">
            <div class="ipad">
                <div class="view">
                    {{ ipad_slide(slideshow['items'][0] )}}
                </div>
            </div>
        </div>
        <div class="controls">
            <div class="selected"></div>
            {% for item in slideshow['items'] -%}
                {% if not loop.first %}
                    <div>
                        {{ ipad_slide(item) }}
                    </div>
                {% endif %}
            {%- endfor %}
        </div>
    </div>
{%- endmacro %}

<div class="white box slideshow">
    {{ ipad_slideshow(orders) }}
</div>

<div class="gray box slideshow">
    {{ ipad_slideshow(orders) }}
</div>

{% endblock %}
