{% extends 'base.html' %}

{% block content %}
<div id="search-banner" class="block banner small">
    <div class="container center">
        <div>
            <h1>Zoek winkels in de buurt</h1>

            {% include 'includes/search-box.html' %}
        </div>
    </div>
</div>
<div id="search-results" class="block">
    <div class="container">
        <div class="search-result">
            <a class="search-result-container" href="" alt="Bestel bij winkel">
                <div class="search-result-content">
                    <div class="search-result-hearts">
                        21
                    </div>
                    <div class="search-result-text">
                        <div class="search-result-name">
                            Sudo Sandwich
                        </div>
                        <div class="search-result-category">
                            Bakkerij
                        </div>
                    </div>
                    <div class="search-result-info">
                        <div class="search-result-distance">
                            1,2 km
                        </div>
                        <div class="search-result-options">
                            <img src="{{ static('icons/truck.png') }}" alt="Levering mogelijk"/>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="search-result">
            <a class="search-result-container" href="" alt="Bestel bij winkel">
                <div class="search-result-content">
                    <div class="search-result-hearts">
                        21
                    </div>
                    <div class="search-result-text">
                        <div class="search-result-name">
                            Sudo Sandwich
                        </div>
                        <div class="search-result-category">
                            Bakkerij
                        </div>
                    </div>
                    <div class="search-result-info">
                        <div class="search-result-distance">
                            1,2 km
                        </div>
                        <div class="search-result-options">
                            <img src="{{ static('icons/truck.png') }}" alt="Levering mogelijk"/>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="search-result">
            <a class="search-result-container" href="" alt="Bestel bij winkel">
                <div class="search-result-content">
                    <div class="search-result-hearts">
                        21
                    </div>
                    <div class="search-result-text">
                        <div class="search-result-name">
                            Sudo Sandwich
                        </div>
                        <div class="search-result-category">
                            Bakkerij
                        </div>
                    </div>
                    <div class="search-result-info">
                        <div class="search-result-distance">
                            1,2 km
                        </div>
                        <div class="search-result-options">
                            <img src="{{ static('icons/truck.png') }}" alt="Levering mogelijk"/>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="search-result">
            <a class="search-result-container" href="" alt="Bestel bij winkel">
                <div class="search-result-content">
                    <div class="search-result-hearts">
                        21
                    </div>
                    <div class="search-result-text">
                        <div class="search-result-name">
                            Sudo Sandwich
                        </div>
                        <div class="search-result-category">
                            Bakkerij
                        </div>
                    </div>
                    <div class="search-result-info">
                        <div class="search-result-distance">
                            1,2 km
                        </div>
                        <div class="search-result-options">
                            <img src="{{ static('icons/truck.png') }}" alt="Levering mogelijk"/>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="search-result">
            <a class="search-result-container" href="" alt="Bestel bij winkel">
                <div class="search-result-content">
                    <div class="search-result-hearts">
                        21
                    </div>
                    <div class="search-result-text">
                        <div class="search-result-name">
                            Sudo Sandwich
                        </div>
                        <div class="search-result-category">
                            Bakkerij
                        </div>
                    </div>
                    <div class="search-result-info">
                        <div class="search-result-distance">
                            1,2 km
                        </div>
                        <div class="search-result-options">
                            <img src="{{ static('icons/truck.png') }}" alt="Levering mogelijk"/>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock content %}
