{% extends 'base.html' %}

{% block content %}
<div id="search-banner" class="block banner small">
    <div class="container center">
        <div>
            <h1>Zoek winkels in de buurt</h1>

            {% include 'includes/search-box.html' %}
        </div>
    </div>
</div>
<div id="search-results" class="block">
    <div class="container">
        {% if stores %}
            {% if search_form.address.errors %}
                <h1>Populaire winkels</h1>
            {% endif %}
            {% for store in stores %}
                <div class="search-result">
                    <a class="search-result-container" href="{{ url('frontend-store', pk=store.id)}}" alt="Bestel bij {{ store.name }}" style="background-image: url('{{ url('customers-store-header', store_id=store.id, width=548, height=400) }}');">
                        <div class="search-result-content">
                            <div class="search-result-hearts">
                                {{ store.hearts_count }}
                            </div>
                            <div class="search-result-text">
                                <div class="search-result-name">
                                    {{ store.name }}
                                </div>
                                <div class="search-result-category">
                                    {{ store.category.name }}
                                </div>
                            </div>
                            <div class="search-result-info">
                                {% if store.distance %}
                                    <div class="search-result-distance">
                                        {{ store.distance }}
                                    </div>
                                {% endif %}
                                <div class="search-result-options">
                                    {% if store.does_delivery %}
                                        <img src="{{ static('icons/truck.png') }}" alt="Levering mogelijk"/>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
        </div>
    </div>
</div>

{% include 'includes/header.html' %}
{% include 'includes/footer.html' %}

{% endblock content %}
