{% extends 'base.html' %}

{% block content %}

{% set header_class = 'fixed' %}

{% include 'includes/header.html' %}

<div id="store-banner" class="block banner small" style="background-image: url('{{ url('customers-store-header', store_id=store.id, width=1080, height=300) }}');">
</div>

<div id="store-info" class="block banner small">
    <div class="container">
        <div class="bottom">
            <h1>{{ store.name }}</h1>
            <ul>
                <li>
                    {{ store.street }} {{ store.number }}
                </li>
                {% set openingperiods_today = store.openingperiods_today %}
                <li class="openingperiods">
                {%- if openingperiods_today %}
                    {{ openingperiods_today | list_periods }}
                {% else -%}
                    {%- set openingperiods = store.openingperiods_for(days=7) %}
                    {%- if openingperiods -%}
                        {%- set first_openingperiod = openingperiods[0] %}
                        {{ first_openingperiod.start.isoweekday() | humanize_weekday }} open om {{ first_openingperiod.start | time('H:i') }}
                    {% else %}
                        Komende week gesloten
                    {%- endif %}
                {%- endif -%}
                </li>
            </ul>
        </div>
    </div>
</div>

{% set menus = store.menus.all().prefetch_related(
    'food__ingredients',
    'food__ingredientgroups',
).order_by(
    '-priority',
    'name'
) %}

<div id="menu-tabs" class="tab-container">
    <div class="container">
        <ul>
            {% for menu in menus %}
                {% if menu.food.all() %}
                    <li {% if loop.first %}class="selected"{% endif %} data-id="{{ menu.id }}">{{ menu.name }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

<div id="inventory" class="block">
    <div class="container">
        <div id="menus">
            <input id="menu-search" type="text" placeholder="Zoeken op naam"/>
            {% for menu in menus %}
                {% if menu.food.all() %}
                <div class="menu" data-id="{{ menu.id }}">
                    <h3>{{ menu.name }}</h3>
                    {% for food in menu.food.all() %}
                        <div class="food" data-id="{{ food.id }}" data-has-ingredients="{{ food.has_ingredients }}">
                            <div class="food-top">
                                <div class="food-text">
                                    <h4>{{ food.name }}</h4>
                                    <p>{{ food.description }}</p>
                                </div>

                                <div class="food-add">
                                    <span class="button transparent" href="" alt="Toevoegen">&euro; {{ food.cost | replace('.', ',') }}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <div id="order-container">
            <div id="order">
                <form method="POST" action="{{ url('frontend-order', store_id=store.id) }}">
                    {% csrf_token %}
                    <input type="submit" value="Afrekenen" disabled/>
                    {% include 'includes/orderedfood.html' %}
                </form>
            </div>
        </div>
    </div>
</div>

{% include 'includes/footer.html' %}

<div id="snackbar" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>

<script src="{{ static('nunjucks.min.js') }}" type="text/javascript"></script>
<script src="{{ static('holmes.js') }}" type="text/javascript"></script>
<script src="{{ static('mdlComponentHandler.js') }}" type="text/javascript"></script>
<script src="{{ static('checkbox/checkbox.js') }}" type="text/javascript"></script>
<script src="{{ static('snackbar/snackbar.js') }}" type="text/javascript"></script>
<script src="{{ static('textfield/textfield.js') }}" type="text/javascript"></script>
<script src="{{ static('rounding.js') }}" type="text/javascript"></script>
<script src="{{ static('store.js') }}" type="text/javascript"></script>


{% endblock content %}
