{% extends 'base.html' %}


{% block head %}
{% raw %}
<script id="templateFoodForm" type="text/x-jsrender">
    <div class="food-form">
        <div class="food-amount mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\,[0-9]+)?">
            <label class="mdl-textfield__label">{{:label}}</label>
            <span class="mdl-textfield__error">Ongeldige hoeveelheid</span>
        </div>
        <div class="food-confirm button">{{:food.cost}}</div>
        <div class="food-cancel button transparent">Annuleren</div>
    </div>
</script>
<script id="templateIngredientGroups" type="text/x-jsrender">
    <div class="ingredientgroups flexcolumn-container">
        {{for food.ingredientgroups}}
        <div class="ingredientgroup flexcolumn">
            <h4>{{:name}}</h4>
            <div class="ingredients">
                {{for ingredients}}
                <label class="ingredient mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" data-id="{{:id}}">
                  <input type="checkbox" class="mdl-checkbox__input" {{if selected}}checked{{/if}}>
                  <span class="mdl-checkbox__label">{{:name}}</span>
                </label>
                {{/for}}
            </div>
        </div>
        {{/for}}
    </div>
</script>
{% endraw %}
{% endblock head %}

{% block content %}
<div id="store-banner" class="block banner small">
    <div class="container">
        <div class="bottom">
            <h1>{{ store.name }}</h1>
            <ul>
                <li>
                    {{ store.street }} {{ store.number }}
                </li>
                <li class="openingperiods">
                    8:00 - 15:00
                </li>
                <li class="deliveryperiods">
                    8:00 - 15:30
                </li>
            </ul>
        </div>
    </div>
</div>

{% set menus = store.menus.all().prefetch_related(
    'food__ingredients',
    'food__ingredientgroups',
).order_by(
    '-priority',
    'name'
) %}

<div class="tab-container">
    <div class="container">
        <ul>
            {% for menu in menus %}
                {% if menu.food.all() %}
                    {% if loop.first %}
                        <li class="selected">{{ menu.name }}</li>
                    {% else %}
                        <li>{{ menu.name }}</li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

<div id="inventory" class="block">
    <div class="container">
        <div id="menus">
            <input id="menu-search" type="text" placeholder="Zoeken op naam"/>
            {% for menu in menus %}
                {% if menu.food.all() %}
                <div class="menu">
                    <h3>{{ menu.name }}</h3>
                    {% for food in menu.food.all() %}
                        <div class="food" data-id="{{ food.id }}" data-has-ingredients="{{ food.has_ingredients }}">
                            <div class="food-top">
                                <div class="food-text">
                                    <h4>{{ food.name }}</h4>
                                    <p>{{ food.description }}</p>
                                </div>

                                <div class="food-add">
                                    <span class="button transparent" href="" alt="Toevoegen">&euro; {{ food.cost | replace('.', ',') }}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <div id="order">
            <form method="post" action="">
                <input type="submit" value="Afrekenen"/>
                <ul id="order-items">
                    <li class="order-item">
                        <div class="order-item-amount">
                            1
                        </div>
                        <div class="order-item-text">
                            <div class="order-item-name">Cheeseburger</div>
                            <div class="order-item-description">Met mozarella, zonder cheddar.</div>
                        </div>
                        <div class="order-item-cost">
                            &euro; 8,50
                        </div>
                    </li>
                    <li class="order-item">
                        <div class="order-item-amount">
                            1
                        </div>
                        <div class="order-item-text">
                            <div class="order-item-name">Cheeseburger</div>
                            <div class="order-item-description">Met mozarella, zonder cheddar.</div>
                        </div>
                        <div class="order-item-cost">
                            &euro; 8,50
                        </div>
                    </li>
                    <li class="order-item">
                        <div class="order-item-amount">
                            1
                        </div>
                        <div class="order-item-text">
                            <div class="order-item-name">Cheeseburger</div>
                            <div class="order-item-description">Met mozarella, zonder cheddarMet mozarella, zonder cheddarMet mozarella, zonder cheddar.Met mozarella, zonder cheddarMet mozarella, zonder cheddarMet mozarella, zonder cheddar.Met mozarella, zonder cheddarMet mozarella, zonder cheddarMet mozarella, zonder cheddar.</div>
                        </div>
                        <div class="order-item-cost">
                            &euro;8000,50
                        </div>
                    </li>

                    <li class="order-total">
                        <div class="order-total-amount">
                            3
                        </div>
                        <div class="order-total-text">
                            Subtotaal
                        </div>
                        <div class="order-total-cost">
                            &euro; 25,50
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
