{% extends 'base.html' %}

{% block content %}

{% include 'include/menu.html' %}

<div class="centered white box">
    <div class="small bundle">
        {% if trial.valid %}
            <h1>{{ trial.success.title }}</h1>
            <p class="center">{{ trial.success.description }}</p>
        {% else %}
            <h1>{{ trial.title }}</h1>
            <p class="center">{{ trial.description }}</p>

            {% if trial.form.errors -%}
                <h2 style="margin-bottom: 0;">{{ trial.error.title }}</h2>
                <p class="center">{{ trial.error.description }}
            {%- endif %}

            <form action="" method="POST">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                {% for field in trial.form -%}
                    {% if field.name in trial.form.errors %}
                        <span class="signal"></span>
                    {% endif %}
                    {{ field }}
                {%- endfor %}
                <div class="center">
                    <input type="submit" class="red button" value="{{ trial.submit }}">
                </div>
            </form>
        {% endif %}
    </div>
</div>

{% endblock %}
