$font: 'Helvetica Neue';

$red: rgb(255, 48, 48);
$grey-black: #4C4C4C;
$grey-dark: #929292;
$grey: #BFBFBF;
$grey-light: #F2F0F0;
$grey-white: #F7F7F7;

$weight-thin: 100;
$weight-extra-light: 200;
$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semi-bold: 600;
$weight-bold: 700;
$weight-extra-bold: 800;
$weight-black: 900;

$page-width: 1160px;
$container-padding: 16px;
$header-height: 40px;

$size-xlarge: 40px;
$size-large: 24px;
$size-medium: 20px;
$size-normal: 16px;
$size-small: 14px;
$size-xsmall: 13px;

$input-height: 40px;
$input-padding-vertical: 12px;
$input-padding-horizontal: 16px;
// Vertical padding set to 0 because input elements automatically center text
$input-padding: 0 $input-padding-vertical;
$border-radius: 2px;

// Material Design Lite
$preferred_font: $font;
$performance_font: $font;
$red-rgb: '255, 48, 48';
$color-primary: $red-rgb;
$color-primary-dark: $red-rgb;
$color-accent: $red-rgb;
$input-text-error-color: $red;
$image_path: '/static/images';
$input-text-font-size: $size-small;
$checkbox-label-font-size: $size-small;

// intl-tel-input
$flagsImagePath: '/static/';
$hoverColor: $grey-light;
$borderWidth: 0;
$arrowColor: $grey-black;
$greyText: $grey-black;
