$font: 'Helvetica Neue';

$red: #FF3030;
$grey-black: #4C4C4C;
$grey-dark: #929292;
$grey: #BFBFBF;
$grey-light: #F2F0F0;
$grey-white: #F7F7F7;

$weight-thin: 100;
$weight-extra-light: 200;
$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semi-bold: 600;
$weight-bold: 700;
$weight-extra-bold: 800;
$weight-black: 900;

$page-width: 1160px;

$size-xlarge: 40px;
$size-large: 24px;
$size-medium: 20px;
$size-normal: 16px;
$size-small: 14px;
$size-xsmall: 12px;

// MDL variables
$preferred_font: $font;
$performance_font: $font;
$red-rgb: '255, 48, 48';
$color-primary: $red-rgb;
$color-primary-dark: $red-rgb;
$color-accent: $red-rgb;
$input-text-error-color: $red;
$image_path: '/static/images';
$input-text-font-size: $size-small;
