{% set openingperiods = store.openingperiods_for(days=7, orderedfood=orderedfood) %}
{% if openingperiods %}
    {% set first_openingperiod = openingperiods[0] %}
    {% set weekday_openingperiods = store.periods_per_weekday(periods=openingperiods) %}
    {% set first_openingperiods = weekday_openingperiods[first_openingperiod.start.isoweekday()] %}
{% endif %}

<div class="split-column">
    <label>Datum van <span class="receipt-type">afhaling</span>
        <select name="{{ name_weekday }}" class="input-icon icon-dropdown input-icon-right" data-openingperiods="{{ weekday_openingperiods | json_weekday_periods }}">
            {% for weekday in store.open_dates(openingperiods=openingperiods) %}
                {% set selected -%}
                    {% if value and weekday == value %}
                        selected
                    {% endif %}
                {%- endset %}
                <option value="{{ weekday.isoweekday() }}" {{ selected }}>
                    {{ weekday | naturalweekday }}
                </option>
            {% endfor %}
        </select>
    </label>
</div>
<div class="split-column">
    <label for="{{ name_time }}">Tijd van <span class="receipt-type">afhaling</span>
        {% if value %}
            {% set time = value.time() %}
        {% else %}
            {% set time = first_openingperiod.start.time() %}
        {% endif %}
        <input type="text" name="{{ name_time }}" value="{{ time | time('H:i') }}"/>
    </label>
</div>

{% set closed = 'De winkel is op deze datum gesloten.' %}
<p class="subscript openinghours">
    {% if first_openingperiods %}
        Openingsuren: <span id="openinghours">{{ first_openingperiods | list_periods() }}</span>.
    {% else %}
        {{ closed }}
    {% endif %}
</p>

<p class="subscript group_deadline" style="display: none;">
Bestellen moet voor <span id="deadline"></span> en wordt om <span id="receipt"></span>.
</p>

<script type="text/javascript" src="{{ static('receipt-field.js') }}"></script>
