.banner {
    height: $banner-height;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    box-sizing: border-box;

    h1, h2, h3, h4 {
        color: white;
        font-weight: $weight-light;
    }

    &.small {
        height: $banner-height-small;
    }
}
