.banner {
    height: $banner-height;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    box-sizing: border-box;

    &.small {
        height: $banner-height-small;
    }
}
