#footer {
    background: $grey-light;

    .container {
        display: table;
        table-layout: fixed;
        padding: 32px 16px;

        .footer-center {
            display: table-cell;
            width: 33%;
            height: 100%;
            text-align: center;

            .button {
                display: block;
                margin: 0 32px;
            }
        }

        .footer-item {
            display: table-cell;
            width: auto;

            li {
                font-size: $size-small;
                font-weight: $weight-light;
                line-height: 1.5em;

                img {
                    width: 135px;
                }
            }
        }
    }

    &:before {
        content: '';
        display: block;
        height: 192px;
        background: $grey-white;
    }
}
