#footer {
    background: $grey-light;
    position: relative;

    .container {
        display: table;
        table-layout: fixed;

        .footer-center {
            display: table-cell;
            width: 33%;
            height: 100%;
            text-align: center;

            .button {
                display: block;
                margin: 0 32px;
            }
        }

        .footer-item {
            display: table-cell;
            width: auto;

            li {
                font-size: $size-small;
                font-weight: $weight-normal;
                line-height: 1.5em;

                img {
                    width: 135px;
                }
            }
        }
    }
}
