#header {
    top: 0;
    position: absolute;
    font-size: $size-small;
    color: white;
    font-weight: $weight-light;
    line-height: $header-height;
    background: none;
    box-sizing: content-box;
    z-index: 2;

    .container {
        box-sizing: content-box;
        height: $header-height;
    }

    &.white {
        background: white;
        color: $grey-black;
        border-bottom: 1px solid $grey;

        & + .block {
            margin-top: $header-height-total;
        }
    }

    &.fixed {
        position: fixed;
    }

    #header-left {
        float: left;
        height: $header-height;
        font-size: $size-medium;

        #header-logo {
            width: $header-height;
            margin-right: 16px;
            float: left;
        }
    }

    #header-right {
        float: right;

        ul {
            li {
                display: inline-block;
                margin-right: 32px;
                font-weight: $weight-normal;

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }
}
