#header {
    top: 0;
    position: absolute;
    font-size: $size-small;
    color: white;
    font-weight: $weight-light;
    line-height: $header-height;
    background: none;
    box-sizing: border-box;
    z-index: 2;

    .container {
        height: $header-height + $container-padding;
    }

    &.white {
        background: white;
        color: $grey-black;
        border-bottom: 1px solid $grey;

        & + .block {
            margin-top: $header-height-total;
        }

        input[type='submit'] {
            color: $grey-black;
        }
    }

    &.fixed {
        position: fixed;
    }

    #header-left {
        float: left;
        height: $header-height;
        font-size: $size-medium;

        #header-logo {
            width: $header-height;
            margin-right: 16px;
            float: left;
        }
    }

    #header-right {
        float: right;

        ul {
            li, form {
                display: inline-block;
                font-weight: $weight-normal;

                input[type='submit'] {
                    background: none;
                }
            }

            li {
                margin-right: 32px;

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }
}
