p, li {
    margin: 10px 0;
    line-height: 150%;
}

h1 {
    font-size: 32px;
    margin: 20px 0;
    color: $color-text-title;
    line-height: 120%;
}

ul {
    font-size: 20px;
    margin: 20px 0;
}