{% extends 'base.html' %}

{% block content %}

{% set header_class='white' %}

<div class="block fullsize">
    <div class="container">
        <div class="title-split">
            <h1>{{ error | default('Er trad een fout op.') }}</h1>
            <div>
                <a href="/" class="subscript">Terugkeren</a>
            </div>
        </div>
        <p>{{ description | default('Het Lunchbreak team is op de hoogte gesteld van de fout, we proberen het zo snel mogelijk op te lossen.') }}</p>
    </div>
</div>

{% include 'includes/header.html' %}

{% if show_report_dialog and request.sentry.id %}
<script src="https://cdn.ravenjs.com/2.3.0/raven.min.js"></script>
<script>
Raven.showReportDialog({
    eventId: '{{ request.sentry.id }}',
    dsn: '{{ RAVEN_DSN_PUBLIC }}'
});
</script>
{% endif %}

{% endblock content %}
