#login {
    height: 100%;
    padding-bottom: 0;

    .center-content {
        $login-width: 310px;

        width: $login-width;

        img {
            width: 100px;
            height: 100px;
            margin-bottom: 24px;
        }

        h3 {
            margin-bottom: 32px;
            color: $grey-dark;
        }

        form {
            input, .intl-tel-input {
                display: block;
                width: 100%;

                &[type='submit'] {
                    margin: 12px 0;
                }
            }

            #pager-data {
                display: none;
            }

            .selected-flag {
                border-radius: $border-radius;

                &:focus {
                    outline: none;
                }
            }

            .country-list {
                box-shadow: none;
                width: $login-width;
                border-radius: $border-radius;

                .country {
                    height: $input-height;
                    padding: 8px;
                }
            }
        }

        .subscript {
            width: 75%;
            margin: 0 auto;
            height: 54px;
        }
    }
}
