#login {
    height: 100%;

    .center-content {
        width: 310px;

        img {
            width: 100px;
            height: 100px;
            margin-bottom: 24px;
        }

        h3 {
            margin-bottom: 32px;
            color: $grey-dark;
        }

        form {
            input {
                display: block;
                width: 100%;
                margin-bottom: 12px;
            }
        }

        .subscript {
            width: 75%;
            margin: 0 auto;
        }
    }
}
