#search-banner {
    background-image: url('banners/search/edited.jpg');
}

#search-results {
    font-size: 0;

    .container {
        padding-top: 32px;
        padding-left: 0;
        padding-right: 0;

        h1, h3 {
            padding-left: 16px;
        }
    }

    .search-result {
        font-size: $size-small;
        width: 50%;
        display: inline-block;

        .search-result-container {
            display: block;
            margin: 16px;
            background-image: url('banners/store/item.jpg');
            background-position: center;
            background-size: cover;
            height: 400px;
            position: relative;
            border-radius: 2px;

            .search-result-content {
                $content-padding-vertical: 20px;
                $content-padding-horizontal: 16px;

                height: 100px;
                background: rgba(0, 0, 0, 0.5);
                position: absolute;
                bottom: 0;
                width: 100%;
                color: white;
                font-size: $size-medium;
                display: table;
                padding: $content-padding-vertical $content-padding-horizontal $content-padding-vertical 0;
                box-sizing: border-box;

                > div {
                    display: table-cell;
                    height: 100%;
                }

                .search-result-hearts {
                    background-image: url('icons/heart.png');
                    background-size: 24px;
                    padding-bottom: 3px;
                    background-repeat: no-repeat;
                    background-position: center 3px;
                    width: 64px;
                    text-align: center;
                    vertical-align: bottom;
                }

                .search-result-text {
                    .search-result-name {
                        font-size: $size-large;
                        height: 50%;
                    }

                    .search-result-category {
                        bottom: $content-padding-vertical;
                        position: absolute;
                    }
                }

                .search-result-info {
                    text-align: right;

                    .search-result-distance {}

                    .search-result-options {
                        position: absolute;
                        right: $content-padding-horizontal;
                        bottom: $content-padding-vertical;

                        img {
                            max-height: 24px;
                            max-width: 24px;
                            opacity: .5;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $page-width) {
    #search-results {
        .search-result {
            width: 100%;
        }
    }
}
