#store-banner {
    background-image: url('banner-store.png');
    padding-bottom: 16px;

    h1 {
        margin-bottom: 16px;
    }

    li {
        display: inline;
        margin-right: 16px;

        &.openingperiods, &.deliveryperiods {
            background-repeat: no-repeat;
            background-size: 16px;
            background-position: 0 center;
            padding-left: 24px;
        }

        &.openingperiods {
            background-image: url('icons/clock.png');
        }

        &.deliveryperiods {
            background-image: url('icons/truck.png');
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

#inventory {
    display: table;
    padding: 0 16px;

    .container {
        padding: 0;

        > div {
            padding: 16px 0;
        }

        #menus {
            display: table-cell;
            width: 66%;

            .menu {
                font-size: 0;
                margin-top: 24px;

                .food {
                    $item-width: 365px;
                    $item-padding: 16px;

                    background: white;
                    border-radius: 2px;
                    padding: $item-padding;
                    display: inline-block;
                    width: $item-width;
                    height: 140px;
                    position: relative;
                    margin: 0 16px 16px 0;
                    overflow: hidden;
                    box-sizing: border-box;

                    .food-top {
                        .food-text {
                            h4 {
                                margin-bottom: 6px;
                            }

                            p {
                                color: $grey-dark;
                                font-size: $size-small;
                                line-height: 1.5em;

                                //position: absolute;
                                float: left;

                                $lines-to-show: 4;

                                // Start
                                display: block; /* Fallback for non-webkit */
                                display: -webkit-box;
                                max-width: 365px - 32px - 80px - 16px;
                                height: $size-small * 1.5 * $lines-to-show; /* Fallback for non-webkit */
                                -webkit-line-clamp: $lines-to-show;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }

                        .food-add {
                            position: absolute;
                            bottom: 16px;
                            right: 16px;
                        }

                        .food-form {
                            display: none;
                        }

                        &:after {
                            content: '';
                            display: block;
                            clear: both;
                        }
                    }

                    .ingredientgroups {
                        display: none;
                    }

                    &.expanded {
                        height: auto;
                        width: $item-width * 2 + $item-padding;

                        .flexcolumn-container {
                            -webkit-column-count: 2;
                            -webkit-column-gap: 10px;
                            -webkit-column-fill: auto;
                            -moz-column-count: 2;
                            -moz-column-gap: 10px;
                            -moz-column-fill: auto;
                            column-count: 2;
                            column-gap: 15px;
                            column-fill: auto;

                            .flexcolumn {
                                display: inline-block;
                                margin: 0 2px 15px;
                                -webkit-column-break-inside: avoid;
                                -moz-column-break-inside: avoid;
                                column-break-inside: avoid;
                            }
                        }

                        .food-top {
                            margin-bottom: 16px;

                            .food-add {
                                display: none;
                            }

                            .food-form {
                                float: right;
                                direction: ltr;
                                border-spacing: 8px 0;
                                display: block;

                                .food-amount, .food-confirm {
                                    margin-right: 8px;
                                }

                                .food-amount {
                                    text-align: left;
                                    margin-top: -5px;
                                    padding-left: 0;
                                    width: auto;
                                }
                            }
                        }

                        .ingredientgroups {
                            -webkit-user-select: none; /* Chrome all / Safari all */
                            -moz-user-select: none; /* Firefox all */
                            -ms-user-select: none; /* IE 10+ */
                            user-select: none; /* Likely future */
                            cursor: normal;
                            display: block;

                            .ingredientgroup {
                                .ingredients {
                                    .ingredient {
                                        margin: 4px 0;

                                        &.hidden {
                                            display: none;

                                            + .ingredientgroup-more {
                                                display: inline-block;
                                            }
                                        }
                                    }

                                    .ingredientgroup-more {
                                        display: none;
                                        margin: 8px 0 16px 0;
                                        color: $red;
                                        text-decoration: underline;
                                        font-size: $checkbox-label-font-size;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        #order {
            display: table-cell;
            height: 100%;
            background: white;
            padding: 16px;

            input[type='submit'] {
                width: 100%;
            }
        }
    }
}

#orderedfood-list {
    margin-top: 16px;

    .orderedfood-empty {
        text-align: center;
        font-size: $size-small;
        color: $grey-dark;
        display: none;
    }

    &.empty {
        .orderedfood-empty {
            display: block;
        }

        .orderedfood, .order-total {
            display: none;
        }
    }

    .orderedfood, .order-total {
        $item-padding: 16px;
        $cost-amount-width: 48px;

        height: 64px;
        display: table;
        width: 100%;

        > div {
            display: table-cell;
            height: 64px;
        }

        .orderedfood-amount, .orderedfood-cost {
            width: $cost-amount-width;
            text-align: center;
            vertical-align: middle;
        }

        .orderedfood-amount {
            color: $red;
            font-size: $size-small;
            font-weight: $weight-medium;
        }

        .orderedfood-text {
            vertical-align: middle;
            padding: 0 $item-padding;

            .orderedfood-name {
                font-weight: $weight-medium;
                font-size: $size-small;
            }

            .orderedfood-description {
                margin-top: 4px;
                color: $grey-dark;
                font-size: $size-xsmall;
            }
        }

        .orderedfood-cost {
            font-size: $size-xsmall;
            color: $grey-dark;
            text-align: right;
            padding-right: $item-padding;
            white-space: nowrap;
        }

        .orderedfood-data {
            display: none;
        }

        .order-total-text {
            @extend .orderedfood-text;

            padding-left: $cost-amount-width + $item-padding;
            font-weight: $weight-medium;
            font-size: $size-small;
        }

        .order-total-cost {
            @extend .orderedfood-cost;
        }
    }
}
