<div class="food-form">
    <div class="food-amount mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" value="{{ food.getIntegerAmount() }}">
        <label class="mdl-textfield__label">{{ label }} ({{ food.getCostDisplay() | safe }})</label>
        <span class="mdl-textfield__error">Ongeldige hoeveelheid</span>
    </div>
    <div class="food-confirm button">Toevoegen</div>
    <div class="food-cancel button transparent">Sluiten</div>
</div>

{% if food.preorderDays > 0 -%}
<p class="food-preorderdays">
    Dit item moet {{ food.preorderDays }} {% if food.preorderDays == 1 %}dag{% else %}dagen{% endif %} op voorhand besteld worden.
</p>
{%- endif %}
