<li class="orderedfood {% if deletable %}deletable{% endif %}">
    <div class="orderedfood-amount">
        {{ orderedfood.get_amount_display() }}
    </div>
    <div class="orderedfood-text">
        <div class="orderedfood-name">{{ orderedfood.original.name }}</div>
        <div class="orderedfood-description">{{ orderedfood.original.description }}</div>
    </div>
    <div class="orderedfood-cost-wrapper">
        <span class="orderedfood-cost">
            &euro; {{ orderedfood.get_total_display() }}
        </span>
    </div>
    {% if not orderedfoods %}
    <input class="orderedfood-data" type="hidden" name="orderedfood" value="{{ orderedfood.json() }}"/>
    {% endif %}
</li>
