.container {
    height: 100%;
    position: relative;
    box-sizing: border-box;
    padding: $container-padding;
    //left: 50%;
    width: $page-width;
    //margin-left: -($page-width / 2);

    &.center-titles {
        h1, h2, h3, h4 {
            text-align: center;
        }
    }

    &.small {
        max-width: $page-width-small;
        //margin-left: -($page-width-small / 2);
        padding: ($container-padding * 2);
    }

    &.center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bottom {
        position: absolute;
        bottom: 0;
    }
}

@media (max-width: $page-width) {
    .container {
        left: 0;
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: $page-width-small) {
    .container {
        &.small {
            width: 100%;
            margin-left: 0;
        }
    }
}
