.search-box {
    position: relative;
    margin: 0 auto;

    .search-box-input {
        font-size: 0;

        input {
            margin-top: 16px;

            &[type='text'] {
                width: 450px;
                border-radius: 2px 0 0 2px;
            }

            &[type='submit'] {
                border-radius: 0 2px 2px 0;
            }
        }

        &.active {
            input {
                border-radius: 0;
            }
        }

        p {
            padding: 16px 0 0 0;
        }
    }

    .search-box-autocomplete {
        @extend input:not(.mdl-textfield__input)[type='text'];

        display: none;
        position: absolute;
        width: 100%;
        height: auto;
        background: white;
        padding: 0;
        border-radius: 0 0 $border-radius $border-radius;
        border-top: none;
        z-index: 1;

        li {
            padding: 8px 8px 8px 40px;
            text-align: left;
            color: $grey-dark;

            &:hover, &.selected {
                background: $grey-white;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 640px) {
    .search-box {
        width: 100%;
        box-sizing: border-box;
        text-overflow: ellipsis;

        .search-box-input {
            input {
                margin-top: 16px;

                &[placeholder] {
                    text-overflow: ellipsis;
                }

                &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    text-overflow: ellipsis;
                }

                &::-moz-placeholder { /* Firefox 19+ */
                    text-overflow: ellipsis;
                }

                &:-ms-input-placeholder { /* IE 10+ */
                    text-overflow: ellipsis;
                }

                &:-moz-placeholder { /* Firefox 18- */
                    text-overflow: ellipsis;
                }

                &[type='text'] {
                    width: 100%;
                    border-radius: 2px;
                }

                &[type='submit'] {
                    width: 100%;
                    border-radius: 2px;
                }
            }

            &.active {
                input {
                    border-radius: $border-radius;
                }
            }
        }

        .search-box-autocomplete {
            margin-top: 16px;
            border-radius: $border-radius;

            li {
                padding: 16px;
            }
        }
    }
}
