@import "footer.scss";

/* Background Gradient: Top to Bottom*/
@mixin bg-gradient-t2b($start-colour, $end-colour) {
    background-image: -webkit-gradient(linear, left top, left bottom, from($start-colour), to($end-colour));
    background-image: -webkit-linear-gradient(top, $start-colour, $end-colour);
    background-image:    -moz-linear-gradient(top, $start-colour, $end-colour);
    background-image:     -ms-linear-gradient(top, $start-colour, $end-colour);
    background-image:      -o-linear-gradient(top, $start-colour, $end-colour);
    background-image:         linear-gradient(top, $start-colour, $end-colour);
    $ie-color: ie-hex-str($start-colour);
    $ie-color2: ie-hex-str($end-colour);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr="#{$ie-color}", EndColorStr="#{$ie-color2}");
    zoom: 1;
}
$lunchbreak-black: #424242;


/*IE Fix*/
a, img {
    border:none;
    outline:none
}

/*Tijdelijk*/
#terms-header{
	font-size: 25pt;
	margin: 0;
	padding: 10px;
	font-weight: 300;
	text-align: center;
	background: #F7F7F7;
	color: #464646;
}

a, a:link, a:visited, a:focus, a:hover, a:active{
	color: #FF3030;
	text-decoration: none;
}
a:hover{
	color: #FF3030;
	text-decoration: underline;
}
a.button:hover{
	text-decoration: none;
}
a.nolink, a.nolink:link, a.nolink:visited, a.nolink:focus, a.nolink:hover, a.nolink:active{
	color: inherit;
	text-decoration: none;
}
a.dashed, a.dashed:link, a.dashed:visited, a.dashed:focus, a.dashed:hover, a.dashed:active{
	color: inherit;
	text-decoration: none;
	border-bottom: 1px dashed white;
}
a.menu-logo, a.menu-logo:link, a.menu-logo:visited, a.menu-logo:focus, a.menu-logo:hover, a.menu-logo:active{
	color: inherit;
	text-decoration: none;
}


/**/
*{
	font-family: "Helvetica Neue", Roboto, Helvetica, Arial;
}
body, html{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	color: #686868;
	font-size: 14pt;
	font-weight: 300;
}
/**/


p{
	font-weight: normal;
	line-height: 125%;
	font-size: 12pt;
	margin: 10px 0;
	-webkit-text-size-adjust: 100%;
}
p .button{
	line-height: normal;
}
h1{
	color: #464646;
	font-weight: 300;
	margin-bottom: 40px;
	-webkit-text-size-adjust: 100%;
	font-size: 34pt;
}
#logo h1{
	padding: 0;
	margin: 0;
}
h2{
	color: #464646;
	font-weight: 300;
	font-size: 22pt;
	margin-bottom: 40px;
	-webkit-text-size-adjust: 100%;
}

/*h2{
	color: #464646;
	font-weight: 300;
	font-size: 18pt;
	margin: 10px 0;
	-webkit-text-size-adjust: 100%;
}*/
h3{
	font-weight: 300;
	font-size: 18pt;
	color: #464646;
	-webkit-text-size-adjust: 100%;
}
.light-content h1, .light-content h2, .light-content h3, .light-content p, .light-content .button{
	color: white;
}

.fullscreen-image{
	margin: 40px 0;
	max-width: 100%;

}
.web-switch, .web-switch:link, .web-switch:hover, .web-switch:visited, .web-switch:active{
	position: absolute;
	left: 20px;
	top: 0;
	display: block;
	height: 40px;
	line-height: 40px;
	padding: 15px 10px 15px 30px;
	background: url('/images/back.png') no-repeat left center;
	background-size: 13px 20px;
	color: white;
	text-decoration: none;
	z-index: 6;
	font-weight: normal;
	font-size: 12pt;
}

.menu{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 5;
	display: table;
	width: 100%;
	text-align: left;
}
.menu-placeholder{
	height: 40px;
}

.menu.white{
	background: white;
	border-bottom: 2px solid #e8e8e8;
	z-index: 7;
}

.next.box{
	/*border-top: 4px solid #e8e8e8;*/
	position: relative;
	display: block;
}

.menu-logo{
	display: table-cell;
	vertical-align: middle;
	color: #4C4C4C;
	font-size: 14pt;
}
.menu-logo div{
	background: url('/images/menu-logo.png') no-repeat left center;
	background-size: 40px 40px;
	height: 40px;
	line-height: 40px;
	margin: 15px 20px;
	padding-left: 60px;
}
#header .menu-logo{
	visibility: hidden;
}
.menu.transparent .menu-logo{
	color: white;
}
.menu-logo img{
	vertical-align: middle;
	margin: 15px 20px;
}
.menu-items{
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}
.menu.transparent a.menu-item, .menu.transparent a.menu-item:hover, .menu.transparent a.menu-item:link, .menu.transparent a.menu-item:visited{
	color: white;
}
a.menu-item, a.menu-item:hover, a.menu-item:link, a.menu-item:visited{
	text-decoration: none;
	margin: 10px 5px;
	padding: 7px 12px;
	display: inline-block;
	vertical-align: middle;
	font-weight: normal;
	font-size:12pt;
}
a.menu-item:hover{
	background: #ececec;
	border-radius: 3px;
	color: #fd0000;
}
.menu .button{
	font-size: 12pt;
}
.menu.transparent a.menu-item:hover, #smartphone-menu a.menu-item:hover{
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
}

.menu-items .button{
	margin-right: 20px;
}
.background{
	background: url('/images/background.min.jpg') no-repeat top center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/background.min.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/background.min.jpg', sizingMethod='scale')";
}

.background.business{
	background: url('/images/business.min.jpg') no-repeat center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/business.min.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/business.min.jpg', sizingMethod='scale')";
}

#header{
	position: relative;
	padding: 0px 20px;
	text-align: center;
}
.black-cover{
	background: rgba(0, 0, 0, 0.2);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#32000000,endColorstr=#32000000);
	zoom: 1;
}
.shadow.long{
	height: 120px;
}
.shadow{
	height: 20px;
	position: absolute;
	bottom: 0px;
	left:  0px;
	right: 0px;

	@include bg-gradient-t2b(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}
.shadow.inverted{
	top: 0px;
	bottom: auto;
	@include bg-gradient-t2b(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}
.seethrough{
	padding: 25px 20px;
	position: relative;
}

#header .center-table{
	position: relative;
}
#header-content{
	padding: 100px 0;
}
#header-background{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	@include bg-gradient-t2b(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}
.center-table{
	display: table;
	width: 100%;
	height: 100%;
}
.centered-content{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

#logo{
	padding-top: 200px; /* 20 px padding between text - logo*/
	width: 100%;
	background: url('/images/website-logo.png') no-repeat top center;
	margin-bottom: 0px;
}
#header .text{
	max-width: 700px;
	margin: 0 auto;
	padding: 50px 0 10px 0;
	font-size: 13pt;
	font-weight: normal;
}
#header .text p{
	font-size: 13pt;
	font-weight: normal;
}
#scroll-hint{
	position: absolute;
	bottom: 20px;
	left:  0px;
	right: 0px;
	height: 12px;
	background: url('/images/scroll-hint.png') no-repeat center center;
	color: rgba(0,0,0,0.5);
}
.button, .button:link, .button:active, .button:visited{
	text-decoration: none;
}
.button{
	padding: 8px 22px;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	margin: 10px;
	display: inline-block;
	color: #FF3030;
	font-size: 14pt;
	font-weight: normal;
	cursor: pointer;

	border-color: #FF3030;

	text-align: center;

}
input.button{
	margin: 10px auto;
	display: inline;
	-webkit-appearance: none;

	width: auto;
}

.gray.button{
	border-color: #686868;
	color: #686868;
}
.white.button, .light-content .button, .light-content .red.button{
	border-color: white;
	color: white;
	background: none;
}
.red.button, #header-content .red.button{
	border-color: #FF3030;
	background: #FF3030;
	color: white;
}

/* boxen */
.white.box{
	background: white;
}
.gray.box{
	background: #F7F7F7;
	color: #464646;
}
.box{
	padding: 75px 0px;
}
.small.box{
	padding: 20px 0px;
}

/**
	Centered zorgt ervoro dat alle headers gecentreerd worden
*/
.centered h1, .centered h2{
	text-align: center;
}
/**
	Centered zorgt ervoor dat alle paragraphs justified worden
*/
.justified p{
	text-align: justify;
}
/**
	Bundle is een stuk uit een box waar inhoud wordt in geplaatst die niet tegen de randen aan mag liggen
*/
.box .bundle{
	padding: 0 20px;
}
.box .nopadding.bundle{
	padding: 0;
}
.center{
	text-align: center;
}
/**
	Bundelt items die samen naar nieuwe lijn moeten springen.
*/
.combo{
	display: inline-block;
}
.spaced.combo, .split.bundle .spaced.combo{
	padding: 50px 0;
}
/**
	Geeft de bundle een vaste breedte.
*/
.text.bundle{
	width: 700px;
	margin: 0 auto;
}
.small.bundle{
	width: 500px;
	margin: 0 auto;
}
/**
	Bundle die in 2 zal gesplitst worden met 2 combo's, één link, en één rechts
	Gebruik class "border" om er tussen ook een border te hebben
*/
.split.bundle{
	width: 900px;
	margin: 0 auto;
	display: table;
	padding: 0;
}
.small.split.bundle{
	width: 700px;
}
.split.bundle .combo{
	padding: 25px 0px;
	width: 50%;
	display: table-cell;
	vertical-align: middle;
}
.split.bundle .first.combo{
	padding-left: 20px;
}
.split.bundle .second.combo {
	padding-right: 20px;
}

.split.bundle .first.combo .item{
	padding-right: 50px;
}
.split.bundle .second.combo .item{
	padding-left: 50px;
}
.small.split.bundle .first.combo .item{
	padding-right: 10px;
}
.small.split.bundle .second.combo .item{
	padding-left: 10px;
}
.border.split.bundle .second.combo{
	border-left: 1px solid #F7F7F7;
}

/* Centreer een bundel divs op basis van hun maximale breedte, bv een lijst */
.center-bundle-container{
	text-align: center;
}
.center-bundle{
	display: inline-block;
	text-align: left;
}


.list-item{
	background: url('/images/checkmark.png') no-repeat left center;
	padding: 15px 0 9px 50px;
	font-weight: 300;
	-webkit-text-size-adjust: 100%;
	text-align: left;
}


.ipad{
	width: 717px; /* Pas ook width van .slideshow .controls aan*/
	height: 538px;
	padding: 40px 80px 40px 80px;
	background: url('/images/iPad.png') no-repeat left top;
	background-size: 877px 618px;
	position: relative;
	margin: 40px auto;
}


.iphone{
	width: 240px; /* Pas ook width van .slideshow .controls aan*/
	height: 426px;
	padding: 89px 30px 87px 32px;
	background: url('/images/empty-iphone.png') no-repeat left top;
	background-size: 302px 602px;
	position: relative;
}
.iphone video{
	position: relative;
	width: 100%;
	height: 100%;
	background: transparent;
}
.iphone img, .ipad img{
	width: 100%;
	height: 100%;
}
.slideshow .view{
	position: relative;
	width: 100%;
	height: 100%;
}
.slideshow .view img{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.slideshow .view img{
	position: absolute;
}
.slideshow .controls{
	text-align: center;
}
.controls.iphonesize{
	padding-top: 40px;
	width: 302px;
}
.slideshow .controls div{
	width: 15px;
	height: 15px;
	background:url('/images/slideshow-control.png') no-repeat center center;
	background-size: 11px 11px;
	margin: 10px;
	display: inline-block;
	cursor:  pointer;
}
.slideshow .controls div img{
	display: none;
	visibility: hidden;
}
.slideshow .controls div.selected{
	background-image:url('/images/slideshow-control-selected.png');
}

.box .bundle.price-box{
	border:  4px solid #e8e8e8;
	padding: 20px 40px; margin: 50px auto;
	border-radius: 5px;
	background: white;
	max-width: 250px;
}
.price-box a h2{
	padding-bottom: 0;
	margin-bottom: 0;
}
.price-box .price{
	color: #FF3030;
}
.price-box .unsplit-center-bundle-container{
	margin: 20px 0;
}

#terms-short div{
	max-width: 700px;
	display: block;
	margin: 0 auto;
	padding: 0;
}



/*3e deel*/

#terms-container{
	max-width: 700px;
	text-align: justify;
	margin: 0 auto;
}
#terms-container h1{
	text-align: center;
}

/* Steps*/
.step{
	background-repeat: no-repeat;
	background-position: center top;
	margin-top: 60px;
	width: 200px;
	display: inline-block;
	padding: 150px 20px 20px 20px;
}
.step.one{
	background-image: url('/images/steps/shop.png');
}
.step.two{
	background-image: url('/images/steps/order.png');
}
.step.three{
	background-image: url('/images/steps/time.png');
}
.step.four{
	background-image: url('/images/steps/bike.png');
}

.step p{
	font-size: 16pt;
	font-weight: 300;
	padding: 0;
	margin: 0;


}
.step h3{
	font-size: 26pt;
	color: #FF3030;
	font-weight: 300;
	margin: 0;
	padding: 0;
}

.advantage{
	padding: 20px 20px 20px 0;
	display: table;
}
.advantage h3{
	margin: 0;
}
.advantage .content{
	display: table-cell;
	vertical-align: middle;
}
.advantage .image{
	width: 89px;
	padding-right: 20px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
.store{
	border-left: 2px solid #C9C9C9;
	padding: 10px 20px;
	margin: 10px 0;
}
.store.soon{
	border-left: 2px dashed #C9C9C9;
}

.store h3{
	color:  #FF3030;
	padding: 0;
	margin: 0 0 5px 0;
	font-size: 14pt;
	font-weight: normal;
}
.store.search{
	margin: 0;
	padding: 5px 20px;
}
.store.search h2{
	color: inherit;
	font-size: 18pt;
}
.store p{
	margin: 0;
	padding: 0;
}
.store p.location{
	font-size: 10pt;
	margin-bottom: 10px;
}
.store-add{
	font-size: 14pt;
	font-weight: 300;
	color: #FF3030;
	margin: 0;
	padding: 0 0 10px 0;
	text-align: left;
	background: transparent;
	border-radius: 0;
	cursor: pointer;
	display: inline;
	width: auto;
}
.store-add:hover{
	text-decoration: underline;
}
p.more{
text-align: center;
font-size: 12pt;
margin-top: 40px;
}
.clear{
	clear: both;
}

/* Laatste */

#stores{
	padding-top: 40px;
}
.appstore{
	margin: 0 10px;
	display: inline-block;
}
/*partners*/
#partners{
	background: #F7F7F7;
	color: #464646;
	text-align: center;
	line-height: 200px;
	padding: 0px 20px;
}
.partner, .partner:link, .partner:visited, .partner:active{
	margin: 0 50px;
	vertical-align: middle;
	border: 0;
	outline: none;
}
.align-center{
	text-align: center;
}
input{
	background: transparent;
	border: 0;
	display: block;
	outline: none;
}
input.text{
	padding: 8px 22px;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	margin: 20px 0;
	display: block;
	color: #686868;
	font-size: 14pt;
	font-weight: normal;
	outline: none;
	border-color: #686868;

	border: 0;
	width: 100%;
	text-align: center;
	box-sizing: border-box;
	background: rgb(247, 247, 247);
}
.placeholder, ::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, input:-moz-placeholder {
	color: #909090;
	font-size: 14pt;
	font-weight: normal;
}

.input_hid{
	display: none;
	visibility: hidden;
	opacity: 0;
}
.google-map-box{
	height: 250px;
}
.google-map{
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border: 0;
}
@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .step.one{
    	background-image: url('/images/steps/shop@2x.png');
    	background-size: 94px 89px;
    }
    .step.two{
    	background-image: url('/images/steps/order@2x.png');
    	background-size: 78px 100px;
    }
    .step.three{
    	background-image: url('/images/steps/time@2x.png');
    	background-size: 111px 111px;
    }
    .step.four{
    	background-image: url('/images/steps/bike@2x.png');
    	background-size: 181px 106px;
    }

    .list-item{
    	background-image: url('/images/checkmark@2x.png');
    	background-size: 37px 34px;
    }

    #logo{
    	background-image: url('/images/website-logo@2x.png');
    	background-size: 180px 180px;
    }
    #scroll-hint{
    	background-image: url('/images/scroll-hint@2x.png');
    	background-size: 19px 13px;
    }
    .menu-logo div{
    	background-image: url('/images/menu-logo@2x.png');
    }
    .ipad{
    	background-image: url('/images/iPad@2x.png');
    }
    .slideshow .controls div{
    	background-image: url('/images/slideshow-control@2x.png');
    }
    .slideshow .controls div.selected{
    	background-image: url('/images/slideshow-control-selected@2x.png');
    }
    #smartphone-menu .close{
    	background-image: url('/images/close@2x.png');
    }
    .web-switch, .web-switch:link, .web-switch:hover, .web-switch:visited, .web-switch:active{
    	background-image: url('/images/back@2x.png');
    }


}

/* iPhone 6 plus and others*/
@media (-webkit-device-pixel-ratio: 3),
(min-resolution: 400dpi) {
 .step.one{
    	background-image: url('/images/steps/shop@3x.png');
    	background-size: 94px 89px;
    }
    .step.two{
    	background-image: url('/images/steps/order@3x.png');
    	background-size: 78px 100px;
    }
    .step.three{
    	background-image: url('/images/steps/time@3x.png');
    	background-size: 111px 111px;
    }
    .step.four{
    	background-image: url('/images/steps/bike@3x.png');
    	background-size: 181px 106px;
    }

    .list-item{
    	background-image: url('/images/checkmark@3x.png');
    	background-size: 37px 34px;
    }


    #logo{
    	background-image: url('/images/website-logo@3x.png');
    	background-size: 180px 180px;
    }
    #scroll-hint{
    	background-image: url('/images/scroll-hint@3x.png');
    	background-size: 19px 13px;
    }
    .menu-logo div{
    	background-image: url('/images/menu-logo@3x.png');
    }
    .ipad{
    	background-image: url('/images/iPad@3x.png');
    }
    .slideshow .controls div{
    	background-image: url('/images/slideshow-control@3x.png');
    }
    .slideshow .controls div.selected{
    	background-image: url('/images/slideshow-control-selected@3x.png');
    }

    #smartphone-menu .close{
    	background-image: url('/images/close@3x.png');
    }
    .web-switch, .web-switch:link, .web-switch:hover, .web-switch:visited, .web-switch:active{
    	background-image: url('/images/back@3x.png');
    }
}


@media screen and (max-width: 900px) {
	.iphone{
		margin: 0 auto;
		display: block;
	}
	.split.bundle{
		width: auto;
		display: block;
	}
	.split.bundle .combo{
		width: auto;
		display: block;
		max-width: 500px;
		margin: 0 auto;
	}
	.advantage{
		padding: 20px 0;
	}
	.split.bundle .first.combo .item{
		padding-right: 0px;
	}
	.split.bundle .second.combo .item{
		padding-left: 0px;
	}
	.split.bundle .first.combo{
		padding: 0;
	}
	.split.bundle .second.combo{
		padding:  0;
	}
	.advantage .image{
		padding-right: 15px;
	}

	.split.bundle .combo h2{
		text-align: center;
	}
	.split.bundle .combo .controls{
		width: auto;
	}

	/* Centreer een bundel divs op basis van hun maximale breedte, bv een lijst */
	.unsplit-center-bundle-container{
		text-align: center;
	}
	.unsplit-center-bundle{
		display: inline-block;
		text-align: left;
	}

	.border.split.bundle .second.combo{
		border-left: 0;
	}
	.text.bundle{
		width: auto;
		max-width: 700px;
	}

}
@media screen and (max-width: 600px) {
	.small.bundle{
		width: auto;
		max-width: 500px;
	}
}

/*@media screen and (max-width: 917px) {*/
	.ipad{
		width: 478px; /* Pas ook width van .slideshow .controls aan*/
		height: 359px;
		padding: 26px 53px 27px 53px;
		background-size: 584px 412px;
	}
/*}*/
@media screen and (max-width: 624px) {
	.ipad{
		width: 359px; /* Pas ook width van .slideshow .controls aan*/
		height: 269px;
		padding: 20px 40px 20px 40px;
		background-size: 439px 309px;
	}
}

@media screen and (max-width: 479px) {
	.ipad{
		width: 239px; /* Pas ook width van .slideshow .controls aan*/
		height: 179px;
		padding: 13px 28px 14px 27px;
		background-size: 292px 206px;
	}
	.web-switch, .web-switch:link, .web-switch:hover, .web-switch:visited, .web-switch:active{
		padding-left: 20px;
		left: 10px;
	}
}

.smartphone-menu-buttons{
	display: none;
}
.smartphone-menu-buttons .button{
	margin-right: 20px;
}
#smartphone-menu{
	z-index: 10;
	display: none;
	position: fixed;
	top: 0px;
	left: 0;
	bottom: 0px;
	right: 0;
	overflow-y: scroll;
	background: rgba(23, 23, 23, 0.95);
}
#smartphone-menu .close{
	z-index: 10;
	position: absolute;
	top: 0;
	right: 0;
	padding: 30px;
	cursor: pointer;
	width: 24px;
	height: 24px;
	background: url('/images/close.png') no-repeat center center;
	background-size: 24px 24px;
}
#smartphone-menu-centered{
	display:table;
	width: 100%;
	height: 100%;
}
#smartphone-menu-content{
	width: auto;
	height: auto;
	vertical-align: middle;
	display:table-cell;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
}
#smartphone-menu a.menu-item{
	font-size: 16pt;
	display: block;
	text-align: center;
	padding: 20px;
	margin: 10px auto;
	color: white;
}
#smartphone-menu a.button{
	font-size: 16pt;
	display: inline-block;
	text-align: center;
	margin: 10px 0;
}
@media screen and (max-width: 800px) {
	a.menu-item, a.menu-item:hover, a.menu-item:link, a.menu-item:visited{
		margin: 10px 0px;
		padding: 7px 10px;
		font-size:12pt;
	}
}
@media screen and (max-width: 700px) {
	.small.split.bundle{
		width: auto;
		display: block;
	}
	.small.split.bundle .first.combo .item{
		padding-right: 0px;
	}
	.small.split.bundle .second.combo .item{
		padding-left: 0px;
	}


	/* Menu */
	.smartphone-menu-buttons{
		display: table-cell;
		vertical-align: middle;
		text-align: right;
	}
	.menu-items{
		display: none;
	}

}


@media screen and (max-width: 600px) {
	#logo{
		background-size: 150px 150px;
		padding-top: 170px;
	}

	.box .bundle .onlydesktop{
		display: none;
	}
	.box{
		padding: 50px 15px;
	}
	.box .bundle{
		padding:  0;
	}
	#header-content{
		padding-bottom: 50px;
	}
	#fix-wrap{
		height: 75px;
	}
	#header p{
		font-size: 14pt;
		font-weight: normal;
	}
	#second-part .list-item, #terms-short .list-item{
		font-weight: normal;
	}
	.step.one{
		background-size: 49px 45px;
	}
	.step.two{
		background-size: 39px 50px;
	}
	.step.three{
		background-size: 56px 56px;
	}
	.step.four{
		background-size: 91px 53px;
	}
	.step{
		margin: 0;
		padding: 0 10px;
		padding-top: 70px;
		margin-top: 20px;
		width: 100px;
	}
	p, .step p, .list-item{
		font-size: 12pt;
		font-weight: normal;
	}
	h1{
		font-size:  28pt;
	}
	h2{
		font-size: 19pt;
	}
	.step h3{
		font-size: 20pt;
	}
	.partner{
		width: 80px;
		margin: 20px;
	}
	#partners{
		line-height: normal;
		padding: 20px;
	}

}
@media screen and (max-width: 400px){
	.button{
		font-size: 12pt;
		padding: 8px 18px;
		margin: 8px 5px;
	}
	.step{
		margin: 0;
		padding: 0 5px;
		padding-top: 70px;
		margin-top: 20px;
		width: 100px;
	}
	.box h1, .box h2{
		text-align: center;
	}
}
@media screen and (max-height: 600px) {
	.google-map-box{
		display: none;
	}
	#logo{
		background-size: 120px 120px;
		padding-top: 130px;
		font-size:  24pt;
	}
	#header p{
		font-size: 12pt;
		font-weight: normal;
	}
	#header .text{
		padding: 20px 0 10px 0;
	}

}
