html, body {
    font-family: $font;
    color: $grey-black;
    background: $grey-light;
    height: 100%;
    //-webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
}
