{% block head %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_WEB_CREDENTIALS }}&libraries=places&language=nl-BE"></script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<script src="{{ static('search-box.js') }}"></script>
{% endblock head %}

<form method="get" action="{{ url('frontend-search') }}" class="search-box">
    <div class="search-box-input">
        <input id="store-search" type="text" placeholder="Vul je adres in" autocomplete="none" name="{{ search_form.address.html_name }}" {% if search_form.address.value() %}value="{{ search_form.address.value() }}"{% endif %}/>
        <input type="submit" value="Zoeken" class="button"/>
    </div>
    <ul class="search-box-autocomplete">
    </ul>
</form>
