<title>{{ title | default('Lunchbreak') }}</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="description" content="{{ description }}">
<meta name="author" content="Cloock">
<meta charset="UTF-8">

<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}">
{% if social_image is defined and social_image -%}
<meta property="og:image" content="{{ social_image }}">
{%- endif %}
<meta property="og:type" content="website">

<meta name="twitter:card" content="app">
<meta name="twitter:site" content="@LunchbreakApp">
<meta name="apple-itunes-app" content="app-id=949238693">
<meta name="twitter:creator" content="@LunchbreakApp">

{% for code, language in languages.iteritems() -%}
    {% if code != current_language -%}
        <link rel="alternate" hreflang="{{ code }}" href="{{ language.url }}" />
    {%- endif %}
{%- endfor %}

<link type="text/css" rel="stylesheet" href="{% sass_src 'style.scss' %}">
<link rel="shortcut icon" href="{{ static('img/favicon.ico') }}">

{% compress js %}
<script type="text/javascript" src="{{ static('js/include/jquery-1.11.3.js') }}"></script>
<script type="text/javascript" src="{{ static('js/include/jquery.placeholder.js') }}"></script>
<script type="text/javascript" src="{{ static('js/include/photoswipe.min.js') }}"></script>
<script type="text/javascript" src="{{ static('js/include/photoswipe-ui-default.min.js') }}"></script>
<script type="text/javascript" src="{{ static('js/main.js') }}"></script>
{% endcompress %}

<!--[if lt IE 9]>
<script type="text/javascript" src="http://www.cloock.be/js/html5shiv.js"></script>
<![endif]-->
