<a class="web-switch" href="{{ url(header.web_switch.url) }}">
    {{ header.web_switch.title }}
</a>
<div class="background {{ header.background | default('') }}">
    <div id="header" class="black-cover light-content">


        {% if header.menu is defined and header.menu -%}
            {% include 'include/menu.html' %}
        {%- endif %}

        <div id="header-background"></div>
        <div class="center-table">
            <div class="centered-content">
                <div id="header-content">
                    <div id="logo">
                        <h1>{{ header.title }}</h1></div>
                    <div class="text">
                        {% for paragraph in header.description -%}
                            <p>{{ paragraph }}</p>
                        {%- endfor %}
                    </div>
                    <p>
                        {{ snippets.buttons(header.buttons) }}
                    </p>
                </div>
            </div>
        </div>
        <div class="shadow"></div>
        <div id="scroll-hint"></div>
    </div>
</div>
